CT_LOCAL_TARBALLS_DIR="${CT_TOP_DIR}/../dl"
CT_ARCH_ARM=y
CT_ARCH_CPU="generic-armv7-a"
CT_ARCH_SUFFIX="v7"
CT_ARCH_FPU="vfpv3-d16"
CT_ARCH_FLOAT_HW=y
CT_KERNEL_LINUX=y
CT_LINUX_V_4_19=y
CT_GCC_V_11=y
CT_DEBUG_GDB=y
# CT_GDB_CROSS_PYTHON is not set