CT_CONFIG_VERSION="3"
CT_TARGET_VENDOR="nerves"
CT_CANADIAN=y
CT_HOST="arm-linux-gnueabihf"
CT_GDB_CROSS_STATIC=y
CT_STATIC_TOOLCHAIN=y
CT_CC_GCC_LIBGOMP=y
CT_CC_GCC_BUILD_ID=y
CT_GCC_V_10=y
CT_CC_LANG_CXX=y
CT_TARBALLS_BUILDROOT_LAYOUT=y
CT_PREFIX_DIR="../x-tools/${CT_TARGET}"
