defmodule <%= @module_name %> do
  @moduledoc false
  # This module's only purpose is get rid of error messages when used with Nerves 1.x

  # The functions needed to be implemented when using Nerves.Package.Platform. Implement
  # anyway, but don't require Nerves.Package.Platform to be around.
  # use Nerves.Package.Platform

  def bootstrap(_pkg) do
    :ok
  end

  def build_path_link(_pkg) do
    # Unused since never built via Nerves tooling
    "Run build.sh directly"
  end

  def build(_pkg, _toolchain, _opts) do
    {:error, "Run build.sh directly"}
  end

  def archive(_pkg, _toolchain, _opts) do
    {:error, "Run build.sh directly"}
  end

  def clean(_pkg) do
    {:error, "Run build.sh directly"}
  end
end
