CT_EXPERIMENTAL=y
CT_LOCAL_TARBALLS_DIR="${CT_TOP_DIR}/../dl"
CT_SAVE_TARBALLS=y
CT_PREFIX_DIR="${CT_TOP_DIR}/../x-tools/${CT_TARGET}"
CT_LOG_EXTRA=y
CT_ARCH_ARCH="24kec"
CT_ARCH_LE=y
CT_ARCH_FLOAT_SW=y
CT_ARCH_mips=y
CT_KERNEL_linux=y
CT_KERNEL_V_3_4=y
CT_BINUTILS_PLUGINS=y
CT_LIBC_musl=y
# CT_CC_GCC_SJLJ_EXCEPTIONS is not set
CT_CC_GCC_mips_plt=y
CT_CC_LANG_CXX=y
