CT_EXPERIMENTAL=y
CT_LOCAL_TARBALLS_DIR="${CT_TOP_DIR}/../dl"
CT_ARCH_ARM=y
CT_ARCH_TUNE="arm926ej-s"
CT_ARCH_SUFFIX="v5"
CT_ARCH_ARCH="armv5te"
CT_KERNEL_LINUX=y
CT_LINUX_V_4_19=y
CT_LIBC_MUSL=y
CT_DEBUG_GDB=y
# CT_GDB_CROSS_PYTHON is not set