CT_LOCAL_TARBALLS_DIR="${CT_TOP_DIR}/../dl"
CT_SAVE_TARBALLS=y
CT_PREFIX_DIR="${CT_TOP_DIR}/../x-tools/${CT_TARGET}"
# CT_REMOVE_DOCS is not set
CT_EXTRA_CFLAGS_FOR_BUILD="-I/usr/local/opt/gettext/include"
CT_EXTRA_LDFLAGS_FOR_BUILD="-L/usr/local/opt/gettext/lib -lintl"
CT_LOG_EXTRA=y
CT_ARCH_ARCH="armv6zk"
CT_ARCH_CPU="arm1176jzf-s"
CT_ARCH_TUNE="arm1176jzf-s"
CT_ARCH_FPU="vfp"
CT_ARCH_arm=y
CT_ARCH_SUFFIX="v6"
CT_TARGET_VENDOR="rpi"
CT_KERNEL_linux=y
CT_KERNEL_V_3_12=y
CT_BINUTILS_LINKER_LD_GOLD=y
CT_BINUTILS_GOLD_THREADS=y
CT_BINUTILS_LD_WRAPPER=y
CT_BINUTILS_PLUGINS=y
CT_CC_GCC_V_4_9_3=y
# CT_CC_GCC_STATIC_LIBSTDCXX is not set
# CT_CC_GCC_SJLJ_EXCEPTIONS is not set
CT_CC_LANG_CXX=y
